@import url(normalize.css);
body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background: #F2F4F7;
}
a {
  color: inherit;
  text-decoration: none;
}
.text_1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 2.1333rem;
  border-bottom: 1px solid #EAEAEA;
  background: #fff;
  font-size: 0.9333rem;
  line-height: 2.1333rem;
  text-align: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.nav .nav_item {
  flex: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 0 0.6667rem 0;
}
.nav .nav_item img {
  width: 3.7067rem;
  height: 3.7067rem;
}
.nav .nav_item span {
  margin-top: 0.4267rem;
  color: #707070;
  font-size: 0.6667rem;
}
.ad {
  padding: 0.9333rem 0.2667rem 1.1467rem;
  background: #fff;
}
.section {
  margin-top: 0.2667rem;
  padding: 1.0667rem 0.64rem;
  background: #fff;
}
.section .sec_hd {
  display: flex;
  justify-content: space-between;
  height: 1.0133rem;
  line-height: 1.0133rem;
}
.section .sec_hd h4 {
  margin: 0;
  color: #333;
  font-size: 0.7467rem;
}
.section .sec_hd h4 img {
  display: inline-block;
  width: 1.0133rem;
  height: 1.0133rem;
  margin-right: 0.48rem;
  vertical-align: top;
}
.section .sec_hd .more {
  color: #999;
  font-size: 0.5867rem;
}
.guide .sec_bd {
  position: relative;
  margin-top: 0.9067rem;
  padding: 0 1.8667rem;
}
.guide .swiper-container {
  padding: 0.9333rem 0 2.4533rem;
}
.guide .swiper-slide {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: 300ms;
  opacity: 0.3;
  border-radius: 0.16rem;
}
.guide .swiper-slide a {
  display: block;
  position: relative;
  height: 8.8rem;
}
.guide .swiper-slide a img {
  width: 100%;
  height: 100%;
  border-radius: 0.16rem;
}
.guide .swiper-slide a p {
  display: none;
  position: absolute;
  bottom: -1.3067rem;
  width: 100%;
  padding: 0 0.2667rem;
  color: #333;
  font-size: 0.6667rem;
  text-align: center;
}
.guide .swiper-slide-active,
.guide .swiper-slide-duplicate-active {
  transform: scale(1.2);
  opacity: 1;
  z-index: 1;
}
.guide .swiper-slide-active a p,
.guide .swiper-slide-duplicate-active a p {
  display: block;
}
.guide [class^=swiper-button] {
  outline: none;
}
.guide [class^=swiper-button]::after {
  position: relative;
  top: -0.8rem;
  color: #000;
}
.study .sec_bd {
  margin-top: 0.8rem;
  margin-left: -0.1333rem;
}
.study .swiper-container {
  padding: 0.08rem 0.1333rem 0.2667rem;
}
.study .swiper-slide {
  padding: 0.2667rem;
  border-radius: 0.16rem;
  box-shadow: 0 0 0.0533rem rgba(153, 153, 153, 0.1), 0.1067rem 0 0.1067rem rgba(153, 153, 153, 0.1), 0 0.1067rem 0.24rem 0 rgba(153, 153, 153, 0.2), -0.1067rem 0 0.1067rem rgba(153, 153, 153, 0.1);
}
.study .swiper-slide a {
  display: block;
}
.study .swiper-slide a img {
  border-radius: 0.16rem;
}
.study .swiper-slide a h5 {
  margin: 0.5333rem 0 0;
  padding: 0 0.2667rem;
  font-size: 0.7467rem;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0.0533rem;
}
.study .swiper-slide a p {
  padding: 0.5867rem 0.4rem;
  color: #666;
  font-size: 0.6933rem;
}
.study .swiper-slide a p span {
  color: #FF4400;
}
main {
  padding-bottom: 3.0133rem;
}
.tab {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 3.0133rem;
  border-top: 1px solid #E2E2E2;
  background: #fff;
}
.tab .tab_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.5867rem;
}
.tab .tab_item:first-child {
  color: #52C4F0;
}
.tab .tab_item img {
  width: 1.04rem;
  height: 1.0933rem;
}
.tab .tab_item span {
  margin-top: 0.2933rem;
}
