/* CSS初始化样式文件 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    color: #c81623;
}

li {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
}