.staffItem {
    margin-bottom: var(--middleMargin);
    padding: var(--littlePadding);
    /* background: rgba(0, 0, 0, .1); */
}

.clockHeader {
    display: flex;
}

.clockHeader li {
    margin-right: 40px;
}

.clockList {
    /* display: none; */
    margin-top: var(--littlePadding);
    padding: var(--littlePadding);
    background: rgba(0, 0, 0, .1);
}

.clockList li{
    margin: var(--littlePadding) 0;
}

.clockDate {
    margin-right: var(--middleMargin);
}