:root {
    --red: #c81623;
    --great_red: #b1191a;
    --light_red: #df3033;
    --gray: #666;
    --great_gray: #333;
    --light_gray: #999;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

/* 顶部快捷导航栏开始 */
.shortcut {
    height: 30px;
    background: #f1f1f1;
    color: var(--gray);
    font-size: 12px;
    line-height: 30px;
}

.shortcut .info {
    float: left;
}

.shortcut .info a {
    color: var(--red);
    margin-left: 13px;
}

.shortcut .user_nav {
    float: right;
}

.user_nav ul li {
    float: left;
}

.user_nav ul li::before {
    color: var(--gray);
    content: '丨';
}

.user_nav ul li:first-child::before {
    content: '';
}

.user_nav ul li a {
    color: var(--gray);
    margin: 0 8px;
}

.user_nav ul li:last-child a {
    margin-right: 0;
}

.user_nav ul .select a::after {
    content: '\e60b';
    font-family: 'iconfont';
    margin-left: 10px;
    font-size: 9px;
}

/* 顶部快捷导航栏结束 */


/* header区域开始 */
header[class=w] {
    height: 55px;
    margin-top: 25px;
}

header .logo {
    float: left;
    height: 55px;
    margin-left: 3px;
}

header .search {
    float: left;
    margin-left: 172px;
}

header .search input {
    float: left;
    width: 433px;
    height: 32px;
    padding: 0 10px;
    border: 2px solid var(--great_red);
    border-right: none;
    outline: none;
}

header .search button {
    float: left;
    width: 82px;
    height: 36px;
    border: none;
    background: var(--great_red);
    color: #fff;
}

header .recommend ul li {
    float: left;
}

.recommend ul li a {
    margin-left: 25px;
    color: var(--gray);
    font-size: 12px;
}

.recommend ul li:first-child a {
    margin-left: 12px;
    color: var(--red);
}

header .cart {
    position: relative;
    float: right;
}

header .cart a {
    display: block;
    height: 34px;
    padding: 0 14px 0 18px;
    border: 1px solid #dfdfdf;
    background: #f7f7f7;
    color: var(--gray);
    font-size: 12px;
    /* iconfont的影响垂直居中有点偏下，往上一点 */
    line-height: 32px;
    text-align: center;
}

header .cart a::before {
    content: '\eab2';
    font-family: 'iconfont';
    position: relative;
    top: 1px;
    margin-right: 7px;
    color: #e60012;
    font-size: 16px;
}

header .cart a::after {
    content: '\e609';
    font-family: 'iconfont';
    margin-left: 15px;
    color: #a5a5a5;
    font-size: 11px;
}

header .cart .count {
    position: absolute;
    top: -4px;
    right: 19px;
    width: 16px;
    height: 14px;
    background: #e60012;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    border-radius: 8px;
    border-bottom-left-radius: 0;
}

/* header区域结束 */

/* nav区域开始 */
nav {
    height: 45px;
    margin-top: 24px;
    border-bottom: 2px solid var(--great_red);
    line-height: 45px;
}

nav h1 {
    float: left;
    width: 209px;
    height: 45px;
    background: #b1191a;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 45px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
}

nav ul li a {
    margin-left: 48px;
    color: #333;
    font-size: 16px;
}

nav ul li:first-child a {
    margin-left: 41px;
    margin-right: 4px;
}

/* nav区域结束 */

/* main区域开始 */
main {
    height: 465px;
    background: url(../images/main_bg.png) no-repeat 220px 10px;
}

main .nav {
    float: left;
    width: 209px;
    background: var(--red);
}

main .nav li a {
    display: block;
    height: 31px;
    padding: 0 11px 0 13px;
    color: #fff;
    font-size: 14px;
    line-height: 31px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .nav li a::after {
    content: '\e609';
    font-family: 'iconfont';
    float: right;
    font-size: 10px;
}

main .nav .current a {
    margin-left: 1px;
    margin-right: -1px;
    padding-left: 12px;
    background: #f7f7f7;
    color: var(--red);
}

main .handy {
    float: right;
    width: 249px;
    margin-top: 10px;
}

.handy .news {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;

}

.news h1 {
    position: relative;
    padding: 10px 0 0 16px;
    height: 22px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px dotted #e4e4e4;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.news h1 a {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #333;
    font-size: 12px;
}

.news h1 a::after {
    content: '\e609';
    font-family: 'iconfont';
    font-size: 8px;
    margin-left: 8px;
}

.news ul {
    height: 120px;
    padding: 6px 0 4px 0;
}

.news ul li {
    height: 24px;
    padding: 0 16px;
}

.news ul li a {
    color: #666;
    font-size: 12px;
}

.news ul li a span {
    margin-right: 5px;
    font-weight: 700;
}

.life ul {
    border-top: 1px solid #e8e8e7;
    border-left: 1px solid #e8e8e7;
}

.life ul li {
    float: left;
}

.life ul li a {
    display: block;
    width: 61px;
    height: 69px;
    border-right: 1px solid #e8e8e7;
    border-bottom: 1px solid #e8e8e7;
    color: #666;
    font-size: 12px;
    text-align: center;
}

.life ul li a .iconfont {
    display: block;
    height: 35px;
    padding-top: 15px;
    color: var(--red);
    font-size: 25px;
}

.handy .banner img {
    width: 249px;
    height: 75px;
    margin-top: 5px;
}

/* main区域结束 */

/* 今日推荐区域开始 */
.today {
    height: 163px;
    margin-top: 11px;
    background: #ebebeb;
}

.today h1 {
    float: left;
    width: 205px;
    height: 100%;
    background: #5c5251;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.today h1::before {
    content: '\e667';
    font-family: 'iconfont';
    display: block;
    font-size: 66px;
    padding: 30px 0 10px 0;
}

.today ul {
    float: left;
    height: calc(100% - 20px);
    padding: 10px 0;
}

.today ul li {
    float: left;
    width: 210px;
    height: 100%;
    padding: 0 19px;
    border-right: 1px solid #ddd;
}

.today ul li:last-child {
    border-right: none;
}

.today ul li .pro_sales {
    float: left;
    width: 45%;
}

.today ul li .pro_img {
    float: left;
    width: 55%;
    height: 100%;
    background: url(../upload/pro.png) no-repeat center;
}

/* 看着好蠢啊hhhh*/
.today ul li:nth-child(2) .pro_img {
    background: url(../upload/pro2.png) no-repeat center;
}

.today ul li:nth-child(3) .pro_img {
    background: url(../upload/pro3.png) no-repeat center;
}

.today ul li:nth-child(4) .pro_img {
    background: url(../upload/pro4.png) no-repeat center;
}

.today ul li h2 {
    padding: 12px 0;
    color: #333;
    font-size: 16px;
}

.today ul li .color {
    display: inline-block;
    padding: 2px 4px;
    color: #fff;
    font-size: 14px;
}

.today ul li span {
    display: block;
    margin-top: 5px;
    margin-bottom: 21px;
    color: #666;
    font-size: 12px;
}

.today ul li a {
    padding: 2px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 14px;

}

.today ul li .light_blue {
    background: #00a0e8;
}

.today ul li .green {
    background: #5fb200;
}

.today ul li .red {
    background: #5fb200;
}

.today ul li .blue {
    background: #0085fb;
}

.today ul li .product_img {
    float: right;
}

/* 今日推荐区域结束 */

/* 大数据推荐区开始 */
.header {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
}

.header h2 {
    float: left;
    color: #333;
    font-size: 18px;
    font-weight: normal;
}

.header>a {
    float: right;
    margin-right: 21px;
    color: #666;
    font-size: 12px;
}

.like .header a::after {
    content: '\e65e';
    font-family: "iconfont";
    font-size: 13px;
    margin-left: 9px;
}

.like ul {
    height: 231px;
    border: 1px solid #ededed;
}

.like ul li {
    float: left;
    width: 199px;
}

.like ul li .pro_img {
    height: 158px;
    background: url(../upload/prod.png) no-repeat center;
}

.like ul li:nth-child(2) .pro_img {
    background: url(../upload/prod2.png) no-repeat center;
}

.like ul li:nth-child(3) .pro_img {
    background: url(../upload/prod3.png) no-repeat center;
}

.like ul li:nth-child(4) .pro_img {
    background: url(../upload/prod4.png) no-repeat center;
}

.like ul li:nth-child(5) .pro_img {
    background: url(../upload/prod5.png) no-repeat center;
}

.like ul li:nth-child(6) .pro_img {
    background: url(../upload/prod6.png) no-repeat center;
}

.like ul li a span {
    display: block;
    padding-left: 35px;
    border-right: 1px solid #ededed;
    color: #666;
    font-size: 12px;
    line-height: 22px;
}

.like ul li:last-child a span {
    border-right: none;
}

.like ul li a .price {
    color: var(--light_red);
    font-size: 16px;
}

.like ul li a .price::before {
    content: '\ea76';
    font-family: 'iconfont';
    font-size: 8px;
    position: relative;
    top: -1px;
}

/* 大数据推荐区结束 */


/* 爱推啥推啥区域开始 */
.funny .body {
    height: 405px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.funny .body .pic {
    float: left;
    width: 382px;
    height: 100%;
    padding-left: 22px;
    background: #b8bddd url(../upload/produ.png) no-repeat 125px 113px;
    color: #3b468d;
    font-size: 16px;
}

.funny .body .pic h3 {
    padding-top: 15px;
    font-size: 18px;
}

.funny .body .commodity {
    float: left;
    border-right: 1px solid #ededed;
}

.funny .body .commodity h3 {
    height: 39px;
    margin: 0 18px;
    border-bottom: 1px dashed #ededed;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
}

.funny .body .commodity ul li {
    padding-left: 8px;
}

.funny .body .commodity ul .one {
    height: 206px;
    border-bottom: 1px solid #ededed;
}

.funny .body .commodity ul .two,
.funny .body .commodity ul .three {
    height: 158px;
}

.funny .body .commodity ul li a {
    display: block;
    color: #333;
    font-size: 12px;
    line-height: 20px;
}

.funny .body .commodity ul li a h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.funny .body .commodity ul .one a h4 {
    padding-top: 56px;
}

.funny .body .commodity ul .two a h4,
.funny .body .commodity ul .three a h4 {
    padding-top: 50px;
}

.funny .body .commodity ul li a span {
    color: #e60012;
}

.funny .body .good {
    width: 226px;
}

.funny .body .good ul .one {
    background: url(../upload/produ2.png) no-repeat right center;
}

.funny .body .good ul .two {
    background: url(../upload/produ3.png) no-repeat right bottom;
}

.funny .body .make {
    width: 406px;
    background: #f7f7f7;
}

.funny .body .make ul .one {
    padding-left: 53px;
    background: url(../upload/produ4.png) no-repeat right center;
}

.funny .body .make ul .two {
    float: left;
    width: 194px;
    background: url(../upload/produ5.png) no-repeat right bottom;
}

.funny .body .make ul .three {
    float: left;
    width: 194px;
    border-left: 1px solid #ededed;
    background: url(../upload/produ6.png) no-repeat right bottom;
}

.funny .body .brand {
    float: left;
    width: 151px;
    /* padding-left: 10px; */
    padding: 13px 0 11px 10px;
    border-right: 1px solid #ededed;
}

.funny .body .brand ul li {
    float: left;
}

.funny .body .brand ul li a {
    display: block;
    width: 75px;
    height: 57px;
    border-right: 1px dotted #e0e0e0;
    border-bottom: 1px dotted #e0e0e0;
    background: url(../upload/brand-hw.png) no-repeat center;
    line-height: 57px;
}

.funny .body .brand ul li:nth-child(2n) a {
    border-right: none;
}

.funny .body .brand ul li:nth-child(1) a,
.funny .body .brand ul li:nth-child(2) a {
    height: 45px;
    background-position-y: top;
}

.funny .body .brand ul li:nth-child(13) a,
.funny .body .brand ul li:nth-child(14) a {
    height: 45px;
    border-bottom: none;
    background-position-y: bottom;
}

/* 爱推啥推啥区域结束 */

/* 商品分类推荐区开始 */
/* 前面设置了部分通用的.header样式 */
.category .header {
    border-bottom: 2px solid #c81623;
}

.category .header h2 {
    color: #c81623;
}

.category .header ul {
    float: right;
}

.category .header ul li {
    float: left;
}

.category .header ul li a {
    color: #666;
    font-size: 12px;
    padding-left: 14px;
}

.category .header ul li a::after {
    content: "丨";
    margin-left: 14px;
    color: #666;
}

.category .header ul li:last-child a::after {
    content: "";
}

.category .header ul li .current {
    color: #c81623;
}

.category .body section {
    float: left;
    width: 221px;
    height: 360px;
}

.category .body .gray {
    width: 208px;
    background: #f9f9f9;
    text-align: center;
}

.category .body .gray ul li {
    float: left;
    margin-left: 12px;
}

.category .body .gray ul li a {
    display: block;
    width: 86px;
    height: 32px;
    border-bottom: 1px solid #ededed;
    color: #666;
    font-size: 12px;
    line-height: 32px;
}

.category .body .gray h3 {
    color: #c81623;
    font-size: 18px;
    margin-top: 26px;
}

.category .body .gray h5 {
    color: #c81623;
    font-size: 12px;
}

.category .body .gray img {
    margin-top: 22px;
}

.category .body .main {
    width: 329px;
    background: #c6e8b6;
    text-align: center;
}

.category .body .main h3 {
    color: #578d38;
    margin-top: 40px;
    margin-left: 32px;
    font-size: 18px;
    text-align: left;
}

.category .body .main h5 {
    color: #578d38;
    margin-left: 32px;
    font-size: 16px;
    text-align: left;
}

.category .body .main .pic {
    position: relative;
}

.category .body .main .pic img {
    margin-top: 40px;
    /* 取消img自带的间隙，让镜像和原图贴贴 */
    margin-bottom: -5px;
    /* 提示不要用，可能有兼容问题吧 */
    /* -webkit-box-reflect: below; */
}

/* 设置镜像图片 */
.category .body .pic::after {
    content: '';
    display: block;
    height: 27px;
    background: url(../upload/phone2.png) no-repeat bottom center;
    transform: scaleY(-1);
    opacity: .5;
}

/* 为镜像图片添加渐变 */
.category .body .pic::before {
    content: '';
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 27px;
    width: 151px;
    background: linear-gradient(transparent, #c6e8b6);
}

.category .body .main ul {
    margin-left: calc(50% - 23px);
    margin-top: 10px;
}

.category .body .main ul li {
    float: left;
}

.category .body .main ul li a {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 8px;
    background: #3e3e3e;
    border-radius: 50%;
}

.category .body .main ul li:first-child a {
    margin-left: 0;
}

.category .body .main ul .current a {
    background: #fff;
}

.category .body section .s {
    position: relative;
    height: 154px;
    padding: 25px 0 0 20px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;


}

.category .body section .s h3 {
    font-size: 16px;
}

.category .body section .s h5 {
    color: #e82633;
    font-size: 14px;
}

.category .body section .s img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.category .body .b {
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center;
    box-sizing: border-box;
}

.category .body .b h3 {
    padding-top: 72px;
    font-size: 18px;
}

.category .body .b h5 {
    color: #a1a1a1;
    font-size: 16px;
}

.category .body .b img {
    margin-top: 44px;
}

.category .brand {
    height: 65px;
    margin-top: 20px;
    background: #f7f7f7;
    /* 让a标签在ul-li中垂直居中 */
    line-height: 65px;
}

.category .brand li {
    float: left;
}

.category .brand li a {
    display: inline-block;
    width: 118px;
    border-right: 1px dotted #ccc;
    /* 让图片在a标签中水平垂直居中 */
    line-height: 39px;
    text-align: center;
}

.category .brand li:last-child a {
    border-right: none;
}

.category .brand li a img {
    /* 调整img自带的空白 */
    position: relative;
    top: 2px;
}

/* 商品分类推荐区结束 */


/* jio部开始 */
footer {
    height: 417px;
    margin-top: 37px;
    background: #f5f5f5;
}

footer .feature {
    height: 109px;
    padding-left: 37px;
    border-bottom: 1px solid #ededed;
}

footer .feature ul li {
    float: left;
    width: 232px;
    margin-top: 30px;
}

footer .feature ul li .icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    background: #c81623;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

footer .feature ul li .icon img {
    position: relative;
    top: 6px;
}

footer .feature ul li h6 {
    font-size: 14px;
    line-height: 28px;
}

footer .feature ul li span {
    font-size: 12px;
}

footer .link {
    height: 188px;
    padding-left: 52px;
    border-bottom: 1px solid #ededed;
}

footer .link dl {
    float: left;
    width: 186px;
    margin-top: 20px;
}

footer .link dl:last-child {
    width: 95px;
    text-align: center;
}

footer .link dl dt {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

footer .link dl dd {
    color: #333;
    font-size: 12px;
}

footer .link dl dd a {
    color: #333;
    line-height: 20px;
}

footer .contact {
    margin-top: 20px;
    text-align: center;
}

footer .contact ul {
    display: inline-block;
}

footer .contact li {
    float: left;
    line-height: 12px;
}

footer .contact li::after {
    content: '丨';
    color: #999;
    font-size: 11px;
}

footer .contact li a {
    color: #666;
    padding: 0 14px;
    font-size: 12px;
}

footer .copyright {
    margin-top: 12px;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

/* jio部结束 */