.sk {
    position: absolute;
    left: 185px;
    top: 10px;
    padding: 3px 14px;
    border-left: 1px solid #b1191a;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    padding: 0 29px;
    font-size: 16px;
    font-weight: 700;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    padding: 0 23px;
    font-size: 14px;
}

.more::after {
    content: '\e60b';
    font-family: 'iconfont';
    margin-left: 5px;
}

.sk_container {
    margin-bottom: 280px;
}

.sk_container a {
    display: block;
    font-size: 14px;
}

.sk_bd ul li {
    float: left;
    width: 291px;
    height: 461px;
    margin-top: 10px;
    margin-right: 12px;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li .box {
    height: 421px;
    padding: 0 12px;
    border: 1px solid transparent;
    border-bottom: none;
    box-sizing: border-box;
}

.sk_bd ul li:hover .box {
    border-color: #b1191a;
}

.sk_bd .pic {
    height: 299px;
    line-height: 299px;
    text-align: center;
}

.sk_bd .pic img {
    width: 100%;
    vertical-align: middle;
}

.sk_bd p {
    line-height: 22px;
}

.price {
    margin: 13px 0;
}

.price strong {
    color: #e60012;
    font-size: 18px;
}

.price del {
    color: #a4a4a4;
    font-size: 12px;
}

.price strong::before,
.price del::before {
    content: '\ea76';
    font-family: 'iconfont';
    font-size: 9px;
    vertical-align: middle;
}

.progress {
    color: #a4a4a4;
}

.progress i {
    display: inline-block;
    width: 130px;
    height: 10px;
    border: 1px solid #e12228;
    border-radius: 5px;
}

.progress i::before {
    display: block;
    content: '';
    width: 116px;
    height: 100%;
    background: #ed282e;
}

.buy_btn {
    width: 100%;
    height: 40px;
    color: #fff;
    background: #b1191a;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}