:root {
    --font1: 10px;
    --gap1: 5px;
    --gap2: 10px;
    --gap3: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    color: inherit;
    text-decoration: none;
}

.littleFont {
    font-size: var(--font1);
}