@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #f5f5f5;
}
.text_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  padding: 0;
  background: #fff;
}
.container a {
  display: block;
  color: #666;
  text-decoration: none;
}
.container a:hover {
  color: #333;
}
@media screen and (min-width: 992px) {
  .container header {
    padding-left: 0;
  }
}
header .logo {
  padding-left: 0;
  background: #429ad9;
}
header .logo h1 {
  margin: 0;
}
header .logo img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
header .logo span {
  height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}
header .nav {
  background: #eee;
  box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 991px) {
  header .nav li {
    float: left;
    width: 20%;
  }
}
header .nav a {
  height: 50px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 50px;
}
header .nav a::before {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
header .nav a:hover {
  background: #fff;
}
@media screen and (max-width: 767px) {
  header .nav a {
    font-size: 14px;
    padding-left: 5px;
  }
}
main .images [class^=col-] {
  padding: 0;
}
main .images li.col-md-6 {
  height: 276px;
  padding-bottom: 10px;
}
main .images li.col-md-6 span {
  padding: 0 10px;
  font-size: 20px;
  line-height: 41px;
}
main .images li.col-md-3 {
  height: 138px;
  padding-left: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  main .images li:nth-of-type(2n) {
    padding-left: 0;
  }
}
main .images a {
  position: relative;
  height: 100%;
}
main .images img {
  width: 100%;
  height: 100%;
}
main .images span {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 41px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
}
main .articles .row {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
main .articles .row:first-child {
  border-top: 1px solid #ccc;
}
main .articles h3 a {
  color: #333;
}
@media screen and (max-width: 767px) {
  main .articles h3 {
    font-size: 14px;
  }
}
main .articles .info {
  color: #777;
}
main .articles .user {
  margin-right: 5px;
}
main .articles .date {
  margin-left: 5px;
}
main .articles p {
  margin: 10px 0;
}
main .articles .tag {
  margin-bottom: 10px;
  color: #777;
}
main .articles img {
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 991px) {
  main {
    margin-top: 10px;
  }
}
footer .banner img {
  width: 100%;
}
footer .hot {
  margin-top: 20px;
  padding: 0 20px 21px;
  border: 1px solid #ccc;
}
footer .hot h3 {
  margin: 0 0 20px;
  border-radius: 0;
}
footer .hot p {
  font-size: 12px;
}
