/* CSS公共样式文件 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 顶部快捷导航栏开始 */
.shortcut {
    height: 30px;
    background: #f1f1f1;
    color: var(--gray);
    font-size: 12px;
    line-height: 30px;
}

.shortcut .info {
    float: left;
}

.shortcut .info a {
    color: var(--red);
    margin-left: 13px;
}

.shortcut .user_nav {
    float: right;
}

.user_nav ul li {
    float: left;
}

.user_nav ul li::before {
    color: var(--gray);
    content: '丨';
}

.user_nav ul li:first-child::before {
    content: '';
}

.user_nav ul li a {
    color: var(--gray);
    margin: 0 8px;
}

.user_nav ul li:last-child a {
    margin-right: 0;
}

.user_nav ul .select a::after {
    content: '\e60b';
    font-family: 'iconfont';
    margin-left: 10px;
    font-size: 9px;
}

/* 顶部快捷导航栏结束 */


